# Dependencies
node_modules/

# VitePress build output
docs/.vitepress/dist
docs/.vitepress/.temp
docs/.vitepress/cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
